name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 6 * * 3'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        include:
          - args: '"+testJVM/test"'
          - args: '"+testJS/test"'
          - args: '"+testNative/test"'
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: 8
        distribution: temurin
    - uses: coursier/cache-action@v7
    - uses: sbt/setup-sbt@v1
    - run: sbt -v scalafmtSbtCheck "+ scalafmtCheckAll" ${{ matrix.args }}
